<!DOCTYPE html>
<html>
<head>
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
<script type= "text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type= "text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type= "text/javascript" src="../static/js/etudiant.js" th:src="@{/js/etudiant.js}"></script>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Liste des etudiants</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">add new</button>
<table  class="table table-stripped">
<thead>
<tr>
<td>id</td>
<td>Nom</td>
<td>Prenom</td>
<td>Sexe</td>
<td>Date de naissance</td>
<td>Filiere</td>
<td>Action</td>

</tr>
</thead>
<tbody>
<tr th:each = "etudiant:${etudiants}">
<td th:text = "${etudiant.id}">id</td>
<td th:text = "${etudiant.nom}">nom</td>
<td th:text = "${etudiant.prenom}">prenom</td>
<td th:text = "${etudiant.sexe}">sexe</td>
<td th:text = "${etudiant.dateNaissance}">date de naissance</td>
<td th:text = "${etudiant.filiere.libelle}">filiere</td>
<td>
<a  class="btn btn-warning" id= "editButton" th:href="@{/etudiants/getOne(id=${etudiant.id})}">Modifier </a>
<a class="btn btn-danger" id= "deleteButton" th:href="@{/etudiants/delete(id=${etudiant.id})}">Supprimer</a>
</td>


</tr>
</tbody>

</table>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <form th:action=@{/etudiants/addNew} method="post">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">nom:</label>
            <input type="text" class="form-control"  name="nom" required>
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">prenom:</label>
            <input type="text" class="form-control"  name="prenom" required>
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">sexe:</label>
            <select  class="form-control" id= "sexeid"  name="sexe" required>
            <option> -SELECT- </option>
            <option > Feminin </option>
            <option> Masculin </option>
             </select>  
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">date de naissance:</label>
            <input type="date" class="form-control"  name="dateNaissance" required>
          </div>
          <div class="form-group">
            <label for="filiereEdit" class="col-form-label">filiere:</label>
            <select  class="form-control" id= "filiereEdit"  name="filiereid" required>
            <option> -SELECT </option>
            <option th:each= "filiere : ${filieres}"
                     th:value= "${filiere.id}"
                     th:text= "${filiere.libelle}">
             </option>
             </select>  
            
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">save</button>
      </div>
    </div>
  </div>
  </form>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <form th:action=@{/etudiants/update} method="put">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouveau</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      	  <div class="form-group">
            <label for="idEdit" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id = "idEdit" name="id" readonly>
          </div>
     
          <div class="form-group">
            <label for="nameEdit" class="col-form-label">nom:</label>
            <input type="text" class="form-control" id = "nameEdit" name="nom">
          </div>
          
          <div class="form-group">
            <label for="prenomEdit" class="col-form-label">prenom:</label>
            <input type="text" class="form-control" id = "prenomEdit" name="prenom" >
          </div>
          
          <div class="form-group">
            <label for="sexeEdit" class="col-form-label">sexe:</label>
            <input type="text" class="form-control" id = "sexeEdit"  name="sexe">
          </div>
          
          <div class="form-group">
            <label for="dateNaissEdit" class="col-form-label">date de naissance:</label>
            <input type="text" class="form-control" id = "dateNaissEdit" name="dateNaissance">
          </div>
          <div class="form-group">
            <label for="filiereEdit" class="col-form-label">filiere:</label>
            <select  class="form-control" id= "filiereEdit"  name="filiereid">
            <option> -SELECT- </option>
            <option th:each= "filiere : ${filieres}"
                     th:value= "${filiere.id}"
                     th:text= "${filiere.libelle}">
             </option>
             </select>  
            
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">save</button>
      </div>
    </div>
  </div>
  </form>
</div>

<div class="modal" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez vous vraiment supprimer?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href = "" class="btn btn-primary">Supprimer</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>