<!DOCTYPE html>
<html>
<head>
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
<script type= "text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type= "text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type= "text/javascript" src="../static/js/note.js" th:src="@{/js/note.js}"></script>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Liste des etudiants</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">add new</button>
<table  class="table table-stripped">
<thead>
<tr>
<td>id</td>
<td>Nom</td>
<td>Date Evaluation</td>
<td>Action</td>

</tr>
</thead>
<tbody>
<tr th:each = "note:${notes}">
<td th:text = "${note.id}">id</td>
<td th:text = "${note.etudiant.nom}">nom</td>
<td th:text = "${note.evaluation.dateEvaluaion}">prenom</td>

<td>
<a  class="btn btn-warning" id= "editButton" >Modifier </a>
<a class="btn btn-danger" id= "deleteButton" >Supprimer</a>
</td>


</tr>
</tbody>

</table>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <form th:action=@{/etudiants/addNew} method="post">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
          
           <div class="form-group">
            <label for="filiereEdit" class="col-form-label">filiere:</label>
            <select  class="form-control" id= "filiereEdit"  name="filiereid" required>
            <option> -SELECT </option>
            <option th:each= "filiere : ${filieres}"
                     th:value= "${filiere.id}"
                     th:text= "${filiere.libelle}">
             </option>
             </select>  
            
          </div> 
          
          
          
          <div class="form-group">
            <label for="filiereEdit" class="col-form-label">Evalation:</label>
            <select  class="form-control" id= "evalEdit"  name="evaluationid" required>
            <option> -SELECT </option>
            <option th:each= "evaluation : ${evaluations}"
                     th:value= "${evaluation.id}"
                     th:text= "${evalation.matiere.libelle}">
             </option>
             </select>  
            
          </div> 
          
          <div id="listeNotes">
                        
              <fieldset>
                 <legend>Liste des etdiants avec les notes</legend>
                     <table class="table table-condensed table-striped">
                          <thead>
                               <tr>                                           
                                 <th>Nom</th>
                                           
                                 <th>Notes</th>
                                </tr>
                           </thead>          
                           <tbody>
                                        
                             	<tr th:each = "note:${notes}">
                                 	 <td th:text = "${note.etudiant.nom}"></td>                                                                                           
                                                
                                     <input type="text" class="form-control" id = "idEdit" name="id" disabled>
                                                    
                                     <input type="text" class="form-control" id = "noteEdit" name="note" required>
                                                                                               
                                 </tr>

                           </tbody>
                       </table>

               </fieldset>
          </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">save</button>
      </div>
    </div>
  </div>
  </form>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <form th:action=@{/etudiants/update} method="put">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouveau</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      	  <div class="form-group">
            <label for="idEdit" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id = "idEdit" name="id" readonly>
          </div>
     
          <div class="form-group">
            <label for="nameEdit" class="col-form-label">nom:</label>
            <input type="text" class="form-control" id = "nameEdit" name="nom">
          </div>
          
          <div class="form-group">
            <label for="prenomEdit" class="col-form-label">prenom:</label>
            <input type="text" class="form-control" id = "prenomEdit" name="prenom" >
          </div>
          
          <div class="form-group">
            <label for="sexeEdit" class="col-form-label">sexe:</label>
            <input type="text" class="form-control" id = "sexeEdit"  name="sexe">
          </div>
          
          <div class="form-group">
            <label for="dateNaissEdit" class="col-form-label">date de naissance:</label>
            <input type="text" class="form-control" id = "dateNaissEdit" name="dateNaissance">
          </div>
          <div class="form-group">
            <label for="filiereEdit" class="col-form-label">filiere:</label>
            <select  class="form-control" id= "filiereEdit"  name="filiereid">
            <option> -SELECT- </option>
            <option th:each= "filiere : ${filieres}"
                     th:value= "${filiere.id}"
                     th:text= "${filiere.libelle}">
             </option>
             </select>  
            
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">save</button>
      </div>
    </div>
  </div>
  </form>
</div>

<div class="modal" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez vous vraiment supprimer?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href = "" class="btn btn-primary">Supprimer</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>