<!DOCTYPE html>
<html>
<head>
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
<script type= "text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type= "text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Semestres</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">add new</button>
<table  class="table table-stripped">
<thead>
<tr>
<td>id</td>
<td>libelle</td>
<td>Modifier</td>
<td>Supprimer</td>
</tr>
</thead>
<tbody>
<tr th:each = "semestre:${semestres}">
<td th:text = "${semestre.id}">id</td>
<td th:text = "${semestre.libelle}">libelle</td>
<td><button type="button" class="btn btn-warning">Modifier</button></td>
<td><button type="button" class="btn btn-danger">Supprimer</button></td>
<td></td>
</tr>
</tbody>

</table>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <form th:action=@{/semestres/addNew} method="post">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouveau</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      	  
       
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">libelle:</label>
            <input type="text" class="form-control"  name="libelle">
          </div>
          
          
          
          
        
      </div>

</body>
</html>